[submodule "libraries/FlexCAN_Library"]
	path = libraries/FlexCAN_Library
	url = git@github.com:Heavy-Vehicle-Networking-At-U-Tulsa/FlexCAN_Library.git
[submodule "libraries/MCP_CAN_lib"]
	path = libraries/MCP_CAN_lib
	url = git@github.com:Heavy-Vehicle-Networking-At-U-Tulsa/MCP_CAN_lib.git
[submodule "libraries/WiFi101"]
	path = libraries/WiFi101
	url = git@github.com:arduino-libraries/WiFi101.git
[submodule "libraries/OneButton"]
	path = libraries/OneButton
	url = git@github.com:mathertel/OneButton.git
[submodule "libraries/SdFs"]
	path = libraries/SdFs
	url = git@github.com:greiman/SdFs.git
